<div class='expanded row'>
  <div class='large-2 columns'>
    <a href='/'>Guild On</a>
  </div>
  <div class='large-10 columns'>
    <ul class='menu'>
      <% upper_menu_node.each do |menu| %>
        <li><a href='<%= menu[:link] %>'><%= menu[:menu_name] %></a></li>
      <% end %>
    </ul>
  </div>
</div>
