<% content_for :title, @guild.id.to_s %>
<p>
<strong>guild_name</strong>
<%= @guild.guild_name %>
</p>

<p>
<strong>Guild_master</strong>
<%= @guild.guild_master %>
</p>

<%= link_to 'Edit', edit_guild_path(@guild) %>
